@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Serif:wght@100..900&family=Tinos:wght@400;700&display=swap');
@import "tailwindcss";





@keyframes zoomInFade {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
    animation: zoomInFade 0.5s ease-out forwards;
}

.personal-inter {
  font-family: 'Inter', sans-serif;
}

.personal-noto {
  font-family: 'Noto Serif', serif;
}

.personal-tinos {
  font-family: 'Tinos', serif;
}
@keyframes slideUp {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-from-bottom {
  animation: slideUp 0.8s ease-out forwards;
}

.animate-from-top {
  animation: slideDown 0.8s ease-out forwards;
}

