@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Serif:wght@100..900&family=Tinos:wght@400;700&display=swap');
@import "tailwindcss";



@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
}

@keyframes zoomInFade {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
  animation: zoomIn 0.7s ease-out both;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.personal-inter {
  font-family: 'Inter', sans-serif;
}

.personal-noto {
  font-family: 'Noto Serif', serif;
}

.personal-tinos {
  font-family: 'Tinos', serif;
}
@keyframes slideUp {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-from-bottom {
  animation: slideUp 0.8s ease-out forwards;
}

.animate-from-top {
  animation: slideDown 0.8s ease-out forwards;
}
@keyframes vibrate {
  0% { transform: translateX(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(2px); }
  60% { transform: translateX(-2px); }
  80% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}

.animate-vibrate {
  animation: vibrate 0.3s linear infinite;
}

/* Fixed wrapper so scroll pe bhi chalta rahe */
.truck-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
  z-index: 9999;
  background: transparent;
  pointer-events: none; /* buttons click block na ho */
}

/* Only road visible */


/* Truck PNG */
.truck-png {
  position: absolute;
  bottom: -46.5px;
  width: 160px;
  animation: moveTruck 6s linear infinite;
}

/* Animation */
@keyframes moveTruck {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(110vw);
  }
}
